#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.grid {
  display: flex;
  justify-content: center;

}

.row {
  flex-direction: row;
  gap: 20px;
}

.column {
  flex-direction: column;
}